* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

header {
    margin:10px;
    padding: 5px;
    background-position: bottom;
    text-align: center;
}

/* texts */
h1 {
    color:#0dcaf0!important;
    text-shadow: ghostwhite 2px 3px 0px;
    padding: 4px;
    font-size: 60px;
    border-bottom: 2px solid #6c757d!important;
}

h3 {
    color: #6c757d!important;
}

.h4 {
    color: #6c757d!important;
    margin-top: 40px;
}

/* Weather Cards */
.card {
    margin-top: 10px;
    border: 1.5px solid #6c757d!important;
    border-radius: 20px;
    margin-right: 4px;
    text-align: center;
}

/* Left column search */
#search-button {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    width: 100%;
    color: white;
    font-size: 18px;
    outline: none;
}

.border {
    border-top: 1px solid #6c757d!important;
}

#search-input {
    margin-top: 20px;
    width: 100%;
}

#left-side {
    margin-top: 55px;
    font-weight: 400px;
}

/* saved search buttons */
.save {
    outline: none;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 5px;
}

/* todays weather */
.card-1 {
    border: 2px solid #6c757d!important;
    border-radius: 25px;
    width: 100%;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
}

#right-side {
    margin-top: 30px;
    margin-left: 20px;
}

.uv {
    padding: 2px;
}
